@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	body {
		@apply font-primary leading-[1.75rem];
	}

	.container-wide {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 2rem /* 32px */;
		padding-left: 2rem /* 32px */;
	}
	@media (min-width: 640px) {
		.container-wide {
			max-width: 640px;
		}
	}
	@media (min-width: 768px) {
		.container-wide {
			max-width: 768px;
		}
	}
	@media (min-width: 1024px) {
		.container-wide {
			max-width: 1024px;
		}
	}
	@media (min-width: 1280px) {
		.container-wide {
			max-width: 1280px;
		}
	}
	@media (min-width: 1440px) {
		.container-wide {
			max-width: 1880px;
		}
	}

	nav a {
		@apply relative;
	}

	nav a.active::after {
		@apply absolute content-[''] w-1/2 h-[2px] -bottom-3 left-1/2 transform -translate-x-1/2 bg-primary-100 transition-colors duration-300 rounded;
	}

	nav a.active:hover::after {
		@apply bg-accent-500;
	}

	.footer-links a {
		@apply relative inline-block pl-4 hover:pr-8 font-bold text-7xl uppercase text-primary-900 tracking-wide transition-all duration-300 z-10 overflow-hidden;
	}

	.footer-links a::after {
		@apply absolute content-[''] w-2/3 h-4 -left-80 top-1/2 transform -translate-y-1/2 bg-accent-500 transition-all duration-300 ease-out -z-10;
	}

	.footer-links a:hover::after {
		@apply -left-8;
	}

	p, span:not(h1 > span) {
		@apply tracking-wide;
	}

	.h1 {
		@apply text-[4.125rem] xl:text-[13rem] leading-[0.85] font-bold uppercase tracking-tighter mb-10;
	}

	.h2 {
		@apply text-[3.75rem] xl:text-[11.25rem] leading-[0.9] font-bold uppercase tracking-tight mb-7;
	}

	.h3 {
		@apply text-[2.825rem] xl:text-[8rem] leading-[1.2] font-bold uppercase tracking-wide mb-5;
	}

	.h4 {
		@apply text-[2.25rem] xl:text-[6rem] leading-[1.3] font-bold uppercase tracking-wide mb-4;
	}

	.h5 {
		@apply text-[1.625rem] xl:text-[4.5rem] leading-[1.4] font-bold uppercase tracking-wide mb-3;
	}

	.h6 {
		@apply text-[1.125rem] xl:text-[3rem] leading-[1.5] font-semibold uppercase tracking-wide mb-2;
	}

	.gallery-item {
		@apply w-[330px] h-[200px] opacity-0 absolute ease-in-out duration-300 z-0 rounded-lg bg-contain;
	}

	.gallery-item-1, .gallery-item-5 {
		@apply -translate-x-2/4 opacity-40 z-[-3];
	}

	.gallery-item-2, .gallery-item-4 {
		@apply w-[380px] h-[250px] -translate-x-2/4 opacity-80 z-[-2];
	}

	.gallery-item-1 {
		@apply left-[15%];
	}

	.gallery-item-2 {
		@apply left-[30%]
	}

	.gallery-item-3 {
		@apply w-[430px] h-[300px] left-[50%] -translate-x-2/4 opacity-100 z-[-1];
	}

	.gallery-item-4 {
		@apply left-[70%];
	}

	.gallery-item-5 {
		@apply left-[85%];
	}

	.hex-icon-wrapper {
		clip-path: polygon(
  			50% 0%,
  			95% 25%,
  			95% 75%,
  			50% 100%,
  			5% 75%,
  			5% 25%
		);
	}
}