@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	body {
		@apply bg-primary-900 font-primary text-[1rem] xl:text-[1.125rem] leading-[1.75rem];
	}

	.container-wide {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 2rem /* 32px */;
		padding-left: 2rem /* 32px */;
	}
	@media (min-width: 640px) {
		.container-wide {
			max-width: 640px;
		}
	}
	@media (min-width: 768px) {
		.container-wide {
			max-width: 768px;
		}
	}
	@media (min-width: 1024px) {
		.container-wide {
			max-width: 1024px;
		}
	}
	@media (min-width: 1280px) {
		.container-wide {
			max-width: 1280px;
		}
	}
	@media (min-width: 1440px) {
		.container-wide {
			max-width: 1860px;
		}
	}

	nav a {
		@apply relative;
	}

	nav a.active::after {
		@apply absolute content-[''] w-1/2 h-[2px] -bottom-3 left-1/2 transform -translate-x-1/2 bg-primary-300 transition-colors duration-300 rounded;
	}

	nav a.active:hover::after {
		@apply bg-accent-500;
	}

	.footer-links a {
		@apply relative inline-block pl-4 hover:pr-8 font-bold text-7xl uppercase text-primary-900 tracking-wide transition-all duration-300 z-10 overflow-hidden;
	}

	.footer-links a::after {
		@apply absolute content-[''] w-2/3 h-4 -left-80 top-1/2 transform -translate-y-1/2 bg-purple-600 transition-all duration-300 ease-out -z-10;
	}

	.footer-links a:hover::after {
		@apply -left-8;
	}

	p, span:not(h1 > span) {
		@apply tracking-wide;
	}

	.p-2xl {
		@apply text-2xl tracking-normal;
	}

	.h1 {
		@apply text-[4.125rem] xl:text-[10rem] leading-[0.8] font-bold uppercase tracking-tighter mb-10;
	}

	.h2 {
		@apply text-[3.75rem] xl:text-[11.25rem] leading-[0.9] font-bold uppercase tracking-tight mb-7;
	}

	.h3 {
		@apply text-[2.825rem] xl:text-[8rem] leading-[1.0] font-bold uppercase tracking-wide mb-4;
	}

	.h4 {
		@apply text-[2.25rem] xl:text-[5.75rem] leading-[1.1] font-bold uppercase tracking-wide mb-2;
	}

	.h5 {
		@apply text-[1.625rem] xl:text-[3.625rem] leading-[1.2] font-semibold uppercase tracking-wide mb-1;
	}

	.h6 {
		@apply text-[1.125rem] xl:text-[1.25rem] leading-[1.3] font-semibold tracking-[0.25em];
	}

	.hex-icon-wrapper {
		clip-path: polygon(
  			50% 0%,
  			95% 25%,
  			95% 75%,
  			50% 100%,
  			5% 75%,
  			5% 25%
		);
	}
}