@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  --font-primary: 'Outfit', ui-sans-serif, system-ui, sans-serif;
  --font-secondary: 'Inconsolata', ui-serif, Georgia, monospace;

  --color-primary-0: #0f0f12;
  --color-primary-100: #141417;
  --color-primary-200: #212127;
  --color-primary-300: #30303b;
  --color-primary-400: #4a4a5c;
  --color-primary-500: #68687a;
  --color-primary-600: #89899c;
  --color-primary-700: #a8a8ba;
  --color-primary-800: #d0d0db;
  --color-primary-900: #fdfeff;

  --color-accent-0: #072133;
  --color-accent-100: #08436e;
  --color-accent-200: #0060a1;
  --color-accent-300: #0085de;
  --color-accent-400: #0099ff;
  --color-accent-500: #24a7ff;
  --color-accent-600: #57b8ff;
  --color-accent-700: #85ceff;
  --color-accent-800: #bae2ff;
  --color-accent-900: #f5f5fc;

  --flex-2: 0 0 32%;

  --background-image-radial-gradient: radial-gradient(
    ellipse at 0 0,
    #1c1c22 0%,
    #141417 85%
  );
  --background-image-black-gradient: radial-gradient(#0f0f12 70%, #141417 100%);
  --background-image-blue-gradient: radial-gradient(
    ellipse at 25% 95%,
    #24a7ff 0%,
    #d936cb 100%
  );

  --shadow-solid: 16px 16px rgba(28, 28, 34, 1);

  --animate-accordion-down: accordion-down 0.25s ease-out;
  --animate-accordion-up: accordion-up 0.25s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
	body {
		@apply bg-primary-900 font-primary text-[1rem] lg:text-[1.125rem] leading-7;
	}

	.container-wide {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 1rem /* 16px */;
		padding-left: 1rem /* 16px */;
	}
	@media (min-width: 640px) {
		.container-wide {
			max-width: 740px;
		}
	}
	@media (min-width: 768px) {
		.container-wide {
			max-width: 1000px;
		}
	}
	@media (min-width: 1024px) {
		.container-wide {
			max-width: 1240px;
		}
	}
	@media (min-width: 1280px) {
		.container-wide {
			max-width: 1400px;
			padding-right: 2rem /* 32px */;
			padding-left: 2rem /* 32px */;
		}
	}
	@media (min-width: 1440px) {
		.container-wide {
			max-width: 1860px;
		}
	}

	a.hyperlink {
		@apply text-purple-400 hover:text-purple-500 underline underline-offset-4 transition-colors duration-300;
	}

	nav a {
		@apply relative;
	}

	nav a.active::after {
		@apply absolute content-[''] w-1/2 h-0.5 -bottom-3 left-1/2 transform -translate-x-1/2 bg-primary-300 transition-colors duration-300 rounded-sm;
	}

	nav a.active:hover::after {
		@apply bg-accent-500;
	}

	.footer-links a {
		@apply relative inline-block lg:pl-4 font-bold text-4xl lg:text-7xl uppercase text-primary-900 tracking-wide transition-all duration-300 ease-out z-10 overflow-hidden;
	}

	.footer-links a:hover {
		@apply pl-6 lg:pr-8;
	}

	.footer-links a::after {
		@apply absolute content-[''] w-2/3 h-3 lg:h-4 -left-80 top-1/2 transform -translate-y-1/2 bg-purple-600 transition-all duration-300 ease-out -z-10;
	}

	.footer-links a:hover::after {
		@apply -left-8;
	}

	p, span:not(h1 > span) {
		@apply tracking-wide;
	}

	.p-xl {
		@apply text-lg lg:text-xl mb-2 lg:mb-4 tracking-wide;
	}

	.p-2xl {
		@apply text-xl lg:text-2xl mb-2 lg:mb-4 tracking-normal;
	}

	.p-7xl {
		@apply text-4xl lg:text-6xl xl:text-7xl font-medium mb-4 lg:mb-6 xl:mb-7 tracking-tighter;
	}

	.h1 {
		@apply text-[4.125rem] lg:text-[8rem] xl:text-[12rem] leading-[0.8] font-bold uppercase tracking-tighter mb-8 lg:mb-10;
	}

	.h2 {
		@apply text-[3.5rem] lg:text-[7.5rem] xl:text-[11.25rem] leading-[0.9] font-bold uppercase tracking-tight mb-5 lg:mb-7;
	}

	.h3 {
		@apply text-[1.75rem] lg:text-[2.625rem] xl:text-[3.5rem] leading-[1.2] font-semibold tracking-normal lg:mb-4;
	}

	.h4 {
		@apply text-[1.5rem] lg:text-[2rem] xl:text-[2.5rem] leading-[1.1] font-semibold tracking-normal lg:mb-4;
	}

	.h5 {
		@apply text-[1.25rem] lg:text-[1.5rem] xl:text-[1.75rem] leading-[1.2] font-semibold tracking-normal lg:mb-3;
	}

	.h6 {
		@apply text-[1rem] lg:text-[1.125rem] xl:text-[1.25rem] leading-[1.3] font-semibold uppercase tracking-[0.25em];
	}

	.accent-dot {
		@apply text-purple-500;
	}

	.hex-icon-wrapper {
		clip-path: polygon(
  			50% 0%,
  			95% 25%,
  			95% 75%,
  			50% 100%,
  			5% 75%,
  			5% 25%
		);
	}
}